.signup_main{
display: flex;
}
.signup_banner{
    width: 40%;
    background-image: url(../../images/bgSignup.jpg);
    
}
.signup_pic img{
    /* width: 60%; */
}
.ellipse1{
    height: 300px;
    /* background-color: chartreuse; */
    position: relative;
}
.bubble1{
    height: 60px;
    width: 60px;
    background-color: #81FBFF;
    border-radius: 100px;
    position: absolute;
    left: 50px;
    top: 40px;
}
.bubble2{
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background-color: #81FBFF;
    top: 200px;
    left: 455px;

}
.ellipse3{
    height: 329px;
    position: relative;
}
.bubble3{
    height: 85px;
    width: 85px;
    background-color: #81FBFF;
    border-radius: 100px;
    position: absolute;
    left: 350px;
    top: 85px;
    
}
.signup_pic{
    text-align: center;
}

.signup_here{
width: 60%;
text-align: center;

}
.signup_here h1{
    font-size: 70px;
    color: #707070;
}
.signup_fields input{
    width: 100%;
    padding: 10px 10px;
    border-radius: 50px;
    
   
    
}
.signup_fields{
    position: relative;
    width: 50%;
    margin: 0 auto;
    margin-top: 35px;
    
}
.signup_fields span{
    position: absolute;
   top: 7px;
   right: 0px;
   color: #AEAEAE;
    
}
.sign_up h3{
    color: #2DBDFE;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px solid #2DBDFE;
 
  
}
.sign_up a{
    text-decoration: none;
   
}
.bottom_bor{
    width: 5%;
    margin: 0 auto;
    height: 1.5px;
    background-color: #35D7E4;
   margin-top: -20px;
}